<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller sign-up</h1>
    <form class="common-form" [formGroup]="signUpForm">
      <input type="text" class="form-input" placeholder="Enter Name" formControlName="name" />
      <input type="password" class="form-input" placeholder="Enter Password" formControlName="password" />
      <input type="text" class="form-input" placeholder="Enter Email" formControlName="email" />
      <button class="form-button" (click)="signUp()">Sign Up</button>
      <div class="auth-toggle-link">
        Already have an account?
        <a (click)="openLogin()">Click for Login</a>
      </div>
    </form>
  </div>

  <div *ngIf="showLogin" class="login">
    <h1>Seller Login</h1>
    <p class="error-p">{{ authError }}</p>
    <form class="common-form" [formGroup]="loginForm">
      <input type="text" class="form-input" placeholder="Enter Email" formControlName="email" />
      <input type password class="form-input" placeholder="Enter Password" formControlName="password" />
      <button class="form-button" (click)="login(loginForm)">Login</button>
      <a class="auth-toggle-link" (click)="openSignUp()">Don't have an account? Click for sign-up</a>
    </form>
  </div>
</div>
